.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin: 0;

  display: flex;
}

.nav-item {
  color: #999;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 1.3rem;
  text-decoration: none;

  transition: color 200ms ease; 

  &:hover {
    color: #666;
  }

  &.active {
    color: #333;
  }
}
